* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  background: rgb(42, 43, 47); /* no-repeat top right url('./icon.png'); */
  color: #fff;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 20px;
  font-size: 1.5em;
  font-weight: 300;
  border-bottom: 1px solid #444;
}

.panel {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.panel-body {
  flex: auto;
}

.panel-footer {
  padding: 20px;
  display: flex;
  justify-content: last baseline;
  border-top: 1px solid #444;
}

.panel-footer > * {
  flex: 1;
}

.panel-footer > * {
  margin: 5px;
}

.panel-footer > *:first-child {
  margin-left: 0;
}

.panel-footer > *:last-child {
  margin-right: 0;
}

.panel-footer > button {
  padding: 10px;
  background: #333;
  border: 1px solid #555;
  color: rgb(50,156,223);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.panel-footer > button:hover {
  background-color: #444;
}

.panel-body--centered {
  position: relative;
}

.panel-body--centered > * {
  position: absolute;
  top: 50%;
  left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.hidden {
  display: none !important;
}

a {
  color: rgb(50,156,223);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

/**
 * Main Panel
 */

#picker {
  width: 600px;
  height: 200px;
  background: transparent;
  border-style: dashed;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
}

#picker .fa {
  font-size: 60px;
  display: block;
  margin-bottom: 10px;
}

/**
 * Keyboard Data Panel
 */

#keyboard-data {
  border-top: 1px solid #444;
}

.link {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.link i {
  margin-right: 5px;
}

.link .text {
  font-size: 1em;
}

.tag {
  position: absolute;
  right: 10px;

  background-color: rgb(157, 104, 102);
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  margin-right: 10px;
  height: 25px;
}

.tag span:first-child {
  margin-right: 4px;
}

.layouts {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
}

.layouts > div {
  /* flex: 1 1 auto; */
  width: 520px;
  border: 1px solid #444;
  padding: 10px;
  margin: 0 5px;
  margin-top: 10px;
}

.layout > img {
  max-width: 500px;
  max-height: 300px;
}

/**
 * Error and Info
 */
pre {
  font-family: "Courier New", Courier, monospace;
}

pre, .info {
  background: #485055;
  border: 1px rgb(30, 31, 33);
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
  margin: auto;
}

.error-container {
  width: 100%;
  padding: 10px;
}

.error-message {
  font-size: 1.3em;
  font-weight: 300;
}

.error-message i {
  font-size: 10em;
  color: rgb(255, 206, 0);
}
